<%= form_for @request, :html => { :class => "form-horizontal request" } do |f| %>

    <% if @request.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@request[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :header, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :header, :class => 'form-control' %>
    </div>
    <%= error_span(@request[:header]) %>
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :body, :class => 'form-control' %>
    </div>
    <%= error_span(@request[:body]) %>
  </div>
  <div class="control-group">
    <%= f.label :endpoint_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endpoint_id, :class => 'form-control' %>
    </div>
    <%= error_span(@request[:endpoint_id]) %>
  </div>

    <br/>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            requests_path, :class => 'btn btn-default' %>

<% end %>
